flask
flask-restful
flask-migrate
flask-sqlalchemy
flask-marshmallow
flask-jwt-extended
marshmallow-sqlalchemy
python-dotenv
passlib
gunicorn
psycopg2-binary
SQLAlchemy-Utils
raven
rq
newrelic
requests
flask_cors
tox{% if cookiecutter.use_celery == "yes" %}
celery{% endif %}
